## A basic GitHub Actions workflow for your Quarkus application.

name: CI build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    # Add a PostgreSQL service container
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: developer
          POSTGRES_PASSWORD: p4SSW0rd
          POSTGRES_DB: demo
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: Build
        run: ./mvnw verify -B
        env:
          # Override Quarkus properties to point to the CI database
          QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://localhost:5432/demo
          QUARKUS_DATASOURCE_USERNAME: developer
          QUARKUS_DATASOURCE_PASSWORD: p4SSW0rd
